/* .loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

.searchForm {
  display: flex;
  justify-content: center;
  gap: 8px;
  min-width: 371 px;
  height: 40px;
  margin-bottom: 30px;
}

.searchInput {
  min-width: 272px;
  border-radius: 4px;
  padding-left: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
}

.searchInput:hover {
  border: 1px solid #000;
}

.searchInput:placeholder {
  color: #808080;
}

.searchInput:focus {
  border: 1px solid #4e75ff;
}

.button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  background-color: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #6c8cff;
  transition: 250ms;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  padding: 24px 156px;
}

.image-card {
  width: 360px;
  height: 200px;
}
